

<div class="drawer dr-cart js-drawer" id="drawer-cart-id">
  <div class="drawer__content" role="alertdialog" aria-labelledby="drawer-cart-title">
    <div class="drawer__body padding-x-md padding-y-sm js-drawer__body">

      <div class="header shadow ">
          <div class="header-container flex justify-between bg-white items-center">

            <div class="ml-4 right-block">
              <p class="order-title">Order Summary</p>
            </div>

            <div class="right-col mr-4">
              <button class="close-btn" aria-controls="drawer-cart-id">
                <img class="close-img" src="./img/close.png" alt="">
              </button>
            </div>

          </div>
      </div>

      <!-- ORDER SUMMARY -->
      <div id="drawer-order" class="order-summary">
        
      <div class="coupon-block">
        <input class="coupon-input" type="text" placeholder="Coupon Code">
        <button class="coupon-btn">APPLY</button>
      </div>
        

        <!-- FIRST ITEM -->
        <div class="order-item mt-5">
          <div class="left-block description-item">
            <img src="./img/172-01_SSS.png" alt="">
            <div class="size-block">
              <p class="item-name">Duray</p>
                <div class="select-row">
                  <div class="size">
                    <p>Size:</p>
                    <select name="cart_size" id="cart_size">
                      <option value="8.5">8.5 Men's</option>
                      <option value="9.0">9 Men's</option>
                      <option value="9.5">9.5 Men's</option>
                      <option value="10.0">10 Men's</option>
                      <option selected="" value="10.5">10.5 Men's</option>
                      <option value="11.0">11 Men's</option>
                      <option value="11.5">11.5 Men's</option>
                      <option value="12.0">12 Men's</option>
                      <option value="13.0">13 Men's</option>
                      <option value="14.0">14 Men's</option>
                      <option value="15.0">15 Men's</option>
                    </select>
                  </div>
                  <div class="quantity">
                    <p>Qty:</p>
                    <select name="cart_qty" id="cart_qty">
                      <option selected="1" value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>
              </div>
              
            </div>
          </div>
          <div class="right-block text-right price-block">
            <img class="delete-icon" src="./img/times.svg" alt="">
            <div class="price">
              <p class="full-price">$12.99</p>
              <p class="sale-price">$9.74</p>
            </div>
            
          </div>
        </div>
        <div class="aditional-info flex justify-between mt-5 pb-5">
          <p class="free-delievery">Qualifies for FREE Shipping & Returns.</p>
          <p class="item-code">1017271-wrch-19</p>
        </div>
        <!--END FIRST ITEM-->

        <!-- SECOND ITEM -->
        <div class="order-item mt-5">
          <div class="left-block description-item">
            <img src="./img/1017271-WRCH-19_SSS.png" alt="">
            <div class="size-block">
              <p class="item-name">Fraas</p>
                <div class="select-row">
                  <div class="quantity">
                    <p>Qty:</p>
                    <select name="cart_qty" id="cart_qty">
                      <option selected="1" value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>
              </div>
              
            </div>
          </div>
          <div class="right-block text-right  price-block">
            <img src="./img/times.svg" alt="delete">
              <div class="price">
                <p class="full-price">$59.99</p>
                <p class="sale-price">$29.99</p>
              </div>
          </div>
        </div>
        <div class="aditional-info flex justify-between mt-5 pb-5">
          <p class="free-delievery">Qualifies for FREE Shipping & Returns.</p>
          <p class="item-code">1017271-wrch-19</p>
        </div>
        <!--END SECOND ITEM-->

        <!-- THIRD ITEM -->
        <div class="order-item mt-5">
          <div class="left-block description-item">
            <img src="./img/Sapog.png" alt="">
            <div class="size-block">
              <p class="item-name">UGG</p>
                <div class="select-row">
                  <div class="size">
                    <p>Size:</p>
                    <select name="cart_size" id="cart_size">
                      <option value="8.5">8.5 Men's</option>
                      <option value="9.0">9 Men's</option>
                      <option value="9.5">9.5 Men's</option>
                      <option value="10.0">10 Men's</option>
                      <option selected="" value="10.5">10.5 Men's</option>
                      <option value="11.0">11 Men's</option>
                      <option value="11.5">11.5 Men's</option>
                      <option value="12.0">12 Men's</option>
                      <option value="13.0">13 Men's</option>
                      <option value="14.0">14 Men's</option>
                      <option value="15.0">15 Men's</option>
                    </select>
                  </div>
                  <div class="quantity">
                    <p>Qty:</p>
                    <select name="cart_qty" id="cart_qty">
                      <option selected="1" value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>
              </div>
              
            </div>
          </div>
          <div class="right-block text-right  price-block">
            <img src="./img/times.svg" alt="delete">
            <div class="price">
              <p style="color: black;" class="full-price">$224.99</p>
            </div>
            
          </div>
        </div>
        <div class="aditional-info flex justify-between mt-5 pb-5">
          <p class="free-delievery">Qualifies for FREE Shipping & Returns.</p>
          <p class="item-code">1017271-wrch-19</p>
        </div>
        <!--END THIRD ITEM-->
        <div class="subtotal-block mt-2 pb-4">
          <div >
            <p>Subtotal</p>
            <p class="subtotal-price">$264.72</p>
          </div>
          <div>
            <p>Shipping</p>
            <p class="shipping">calculated at shipping</p>
          </div>
          <div>
            <p>H.S.T.</p>
            <p class="hst">calculated at shipping</p>
          </div>
        </div>
        <div class="total-block flex justify-between mt-2">
          <p>Total</p>
          <p>$264.72</p>
        </div>
      </div>
    <!-- END ORDER SUMMARY -->
    </div>
  </div>
</div>
